.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36.5px;
  padding-left: 12px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(196, 196, 196);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 60px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(196, 196, 196);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: -1px;
  margin-right: 10px;
}

.search-button,
.voice-search-button,
.upload-button,
.notifications-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-button .tooltip,
.notifications-icon-container .tooltip {
    position: absolute;
    background-color: rgb(137, 136, 136);
    color: white;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 2px;
    bottom: -29px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-button:hover .tooltip,
.notifications-icon-container:hover .tooltip {
    opacity: 1;
}

.search-icon {
  height: 25px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(244, 244, 244);
}

.voice-search-icon {
  height: 24px;
}

.right-section {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -0.7px;
  right: -5px;
  background-color: rgb(201, 13, 13);
  color: white;
  font-size: 11px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

.current-user-pic {
  height: 32px;
  border-radius: 16px;
}

.navbar {
  display: flex;
  overflow-x: auto;
  margin-bottom: 10px;
  padding: 10px;
  white-space: nowrap;
  scrollbar-width: none;
}

.nav-item {
  background-color: rgb(231, 231, 231);
  border: none;
  padding: 10px 10px;
  margin-right: 10px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s;
}

.nav-item.active {
  background-color: black;
  color: rgb(255, 255, 255);
}

.nav-item:hover {
  background-color: rgb(221, 221, 221);
}
